<div class="container">
  <h2>Dynamic Section</h2>

  <button (click)="addSection()" class="btn-blue-outline">
    Add Section
  </button>

  <hr>

  @for (section of sections; track section.id; let sIdx = $index) {
    <div class="section-card">

      <div class="header-row">
        <button (click)="addInput(sIdx)" class="btn-blue-outline">+ Input</button>
        <span class="section-name"><strong>Section</strong> {{ sIdx + 1 }}</span>

        <button
          (click)="removeSection(sIdx)"
          [disabled]="sections.length <= 1"
          class="btn-delete-frame">
          ❌
        </button>
      </div>

      <hr>

      @for (inputData of section.inputs; track $index; let iIdx = $index) {
        <div class="input-row">
          <label>Number {{ iIdx + 1 }}</label>

          <input
            type="number"
            [value]="inputData.value"
            (input)="updateValue(sIdx, iIdx, $event)"
          >

          <button
            (click)="removeInput(sIdx, iIdx)"
            [disabled]="section.inputs.length <= 1"
            class="btn-delete-frame-small">
            ❌
          </button>
        </div>
      }

      <div class="result-area">
        <strong>Result</strong>
        <span class="total-text">{{ getSectionTotal(sIdx) }}</span>
      </div>
    </div>
  }
